@charset "UTF-8";

@import "vars";
@import "inuit.css/inuit";

.clearfix:before, .clearfix:after,
.pagination:before, .pagination:after,
header.main:before, header.main:after,
section:before, section:after,
.gallery:before, .gallery:after,
form:before, form:after,
nav:before, nav:after,
footer.main .inner:before, footer.main .inner:after,
header.main nav ul:before, header.main nav ul:after,
.ads:before, .ads:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after,
.pagination:after,
header.main:after,
section:after,
.gallery:after,
form:after,
nav:after,
footer.main .inner:after,
header.main nav ul:after,
.ads:after { clear: both; }
.clearfix { zoom: 1; }

html {
    background: #2c2c2c;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: $white url('/assets/img/style/bg_f3f3f3.png') repeat;
    border-top: 6px solid $dark-highlight;

    font-family:  Georgia, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;

    text-align: left;

    color: $text-color;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

h1 {
  font-size: 28px;
  font-size: 1.75rem; /* 2.25rem; */
  line-height: 1.33333;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem; /* 1.875rem; */
  line-height: 1.6;
  margin-top: 3rem;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem; /* 1.5rem; */
  line-height: 1;
  margin-top: 2.5rem;
}

h4 {
  font-size: 17px;
  font-size: 1.0625rem; /* 1.25rem; */
  line-height: 1.2;
  margin-top: 2.125rem;
}

h5 {
  font-size: 15px;
  font-size: 0.9375rem; /* 1rem; */
  line-height: 1.5;
  margin-top: 1.875rem;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem; /* 0.875rem; */
  line-height: 1.71429;
  margin-top: 1.75rem;
}

hr {
    @include spriteBg(50%, -84px);
    border: none;
    height: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
/* table classes taken from inuit.css/base/_tables.scss */
table{
    width:100%;
}
th,
td{
    padding:$base-spacing-unit / 4;
    @media screen and (min-width:480px){
        padding:$half-spacing-unit;
    }
    text-align:left;
}

/**
 * Cell alignments
 */
[colspan]{
    text-align:center;
}
[colspan="1"]{
    text-align:left;
}
[rowspan]{
    vertical-align:middle;
}
[rowspan="1"]{
    vertical-align:top;
}
/* End table classes taken from inuit.css/base/_tables.scss */

em {
    border-bottom: 2px solid $dark-grey;
}

.content {
    margin-left:auto;
    margin-right:auto;
    max-width:1260px;
    *zoom:1;
}

a,
a:visited {
    color: $dark-grey;
    text-decoration: none;
    text-decoration: none;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: $light-grey;
    @include transition(all, .4s, ease-in-out);
}
a:hover,
a:active {
    color: black;
    border-color: $highlight_rgba_over;
}
a#scrollToTop {
    @include spriteBg(-347px, 0px, 452px, 290px);
    display: none;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-indent: -999em;
    height: 41px;
    width: 41px;
}
.attachement {
    margin-bottom: 2rem;
    padding: 0;
    text-align: center;

    a,
    span {
        border: none;
        display: inline-block;
        position: relative;
        text-align: center;
        text-decoration: none;

        img {
            display: block;
            margin: 0;
            border: 0;
        }

        span {
            background-color: #333;
            background-color: rgba(0,0,0,0.6);
            bottom: 0;
            color: $white;
            font-family: $title-font-family;
            display: block;
            position: absolute;
            padding: 0.5rem 0;
            text-align: center;
            width: 100%;
        }
    }
}

ul, ol, dd {
    margin-left: 36px;
    margin-left: 2.25rem;
}
ul li {
    margin-bottom: 0.375em;
}

@include headings(1, 4){
    color: $dark-grey;
    font-family: $title-font-family;
    font-weight: 700;
    letter-spacing: -1px;
}

h1 {
    color: $black;
    text-transform: uppercase;
    text-align: left;
}

.notice {
    background-color: $white;
    padding: 0.5rem 1rem;
}

a.button {
    background-color: $highlight;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    color: $white;
    display: block;
    font-family: $title-font-family;
    text-align: center;
    text-decoration: none;
    margin: 2.5rem auto;
    padding: 0.5rem;
    width: 75%;
    max-width: 350px;

    &:hover {
        background-color: $dark-highlight;
    }
}

a.more {
    background-color: $light-grey;
    margin: 1.5rem auto 0;
    width: 50%;
}

.pagination {

    a.button {
        display: inline-block;
        line-height: 1.5rem;

        &.next:before,
        &.next:after,
        &.previous:before,
        &.previous:after {
            display: inline-block;
              font-family: "icons";
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-decoration: inherit;
              text-transform: none;
              -moz-osx-font-smoothing: grayscale;
              -webkit-font-smoothing: antialiased;
        }

        &.next {
            float: right;
            text-align: right;
            width: 95px;

            &:after {
                content:"\00A0" "\f101";
                float: right;
                margin-left: 0.3rem;
                margin-right: 0.2rem;
            }
        }

        &.previous {
            float: left;
            text-align: left;
            width: 125px;

            &:before{
                content:"\f100" "\00A0";
                float: left;
                margin-left: 0.2rem;
                margin-right: 0.3rem;
            }
        }
    }
}

header.main {
    background: $highlight url("/assets/img/style/sunrays.png") bottom center no-repeat;
    color: $white;

    position: relative;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);

    a,
    a:visited {
        border: none;
    }

    nav {

        background: rgba(255,255,255,0.1);
        text-align: center;

        ul {
            font-family: $title-font-family;
            font-weight: 700;
            font-size: 0.9rem;
            list-style-type: none;
            margin: 0 auto;

            li {
                display: inline-block;
                margin: 0;

                a,
                a:visited {
                    color: $white;
                    display: block;
                    line-height: 3rem;
                    padding: 0 0 4px 0;
                    text-decoration: none;
                    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
                    opacity: 0.7;
                }

                a:hover,
                a:active,
                a.selected {
                    text-decoration: none;
                    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
                    opacity: 1;
                }
            }
        }
    }

    p {
        padding: 0 1rem;
    }
}

header.home {
    padding-bottom: 2.5rem;

    nav ul {

    }

    span.tagline {
        @include spriteBg(50%, -44px, 230px, 148px);

        display: block;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
        padding-top: 38px;
        font-family: $title-font-family;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.7rem;
    }

    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
    }
}

section {
    padding: 1.5rem 0;

    header {
        padding: 0 1rem 1rem;

        h1 {
            padding: 0 0 38px;
            padding: 0 0 0.3rem;
            text-align: center;
        }

        p {
            text-align: left;
        }
    }

    footer {
        padding: 1.5rem 1rem 1rem;
    }

    article {
        border-bottom: 5px solid #e1e1e1;
        margin: 1.5rem 0 4rem;
        padding-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }

        header {
            padding: 0 1rem;

            h1 {
                color: $dark-grey;
                font-size: 1.75rem;
                padding: 0 0.2rem 0.5rem;
                text-align: left;

                span.draft {
                    background: #f00;
                    color: $white;
                    font-size: 0.5em;
                    padding: 5px;
                    margin-left: 0.5rem;
                    text-shadow: 0 1px 0 #c00;
                    text-transform: lowercase;
                    vertical-align: top;
                    line-height: 2rem;
                }
            }

            time {
                color: $light-grey;
                font-family: $title-font-family;
                font-weight: 400;
                display: block;
                margin-bottom: -6px;
            }
        }


        img {
            margin-bottom: 1.5rem;
        }
        >p {
            font-size: 1.2rem;
        }
        iframe {
            width: 100%;
        }
        img { max-width: 100%; }

        blockquote {
            border-left: 0.5rem solid $highlight;
            font-style: italic;
            margin: 0 1rem 1.5rem;
            padding-left: 1rem;

            p {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .gallery{
            margin: 1rem;
        }
        .gallery-item {
            border: none;
            display: block;
            float: left;
            margin-top: 1rem;
            margin-right: 2.5%;
            margin-left: 2.5%;
            margin-bottom: 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            width: 45%;

            a {

                span {
                    font-size: 0.75rem;
                }
            }
        }

        .gallery-item:nth-child(2n) { /* no clear here */ }
        .gallery-item:nth-child(2n+1) { clear: left;}
    }

    p, ul, h2, h3, h4 {
        padding: 0 1rem;
    }

    pre {
        background-color: rgba(0,0,0,0.8);
        color: $white;
        margin: 0 0 1.5rem 0;
        padding: 1rem;
        white-space: pre;
        overflow:auto;
    }

    .table_container {
        overflow-x: scroll;
        padding: 0;
        width: 100%;

        table {
            thead {
                background-color: $white;
                border-bottom: 2px solid #ddd;

                th {
                    font-family: $title-font-family;
                    text-align: left;
                }
            }

            tbody {
                tr {
                    border-bottom: 1px dotted #ddd;

                    td {
                        border-collapse: collapse;
                        border-right: 1px dotted #ddd;
                    }
                }
                tr:nth-child(2n) {background-color: $white;}
                tr:nth-child(2n+1) {background-color: #fdfdfd;}
            }
        }
    }
}
section.work {
    padding: 0;

    header,
    article header,
    article p {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    >header {
        padding-top: 3.5rem;

        h1 {
            color: #666;
            text-align: center;
            text-shadow: 1px 2px 0 $white;
        }
    }

    article {
        margin: 0;
        padding: 2.5rem 0;
        border: none;

        header {
            margin-bottom: 2.5rem;
            padding: 2rem 0;
            text-align: center;

            h1 {
                margin-bottom: 0;
                text-align: center;
                text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
            }
        }

        ul {
            margin: 0;
            font-family: $title-font-family;
            font-size: 0.8rem;
            text-align: center;
            border-top: 1px dotted #eee;
            padding-top: 1rem;
            padding-bottom: 0.75rem;
            border-bottom: 1px dotted #eee;

            text-align: center;

            li {
                display: block;
                list-style-type: none;
                padding: 0;
            }
        }
    }

    .details {
        padding-bottom: 4.5rem;

        p {
            margin: 2rem auto 2rem;
        }

        ul {
            margin: 0 0 3rem;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .physioellen {
        background: #77c6db url('/assets/img/style/bg_77c6db.png') repeat;
        color: $white;

        a,
        a:visited {
            color: #54a5bb;
            border-color: #8ec8dc;
        }

        a:hover,
        a:active {
            color: $white;
            border-color: #54a5bb;
        }

        &.details p a,
        &.details p a:visited {
            color: $very-light-grey;
            border-color: #46adc9;
        }

        &.details p a:hover,
        &.details p a:active {
            color: #b6e5f2;
            border-color: #46adc9;
        }

        time { color: #eee; }
        header h1 { color: $white; }

        ul {
            border-color: #54a5bb;
        }
    }

    .instantstisses {
        background: #F2979A url('/assets/img/style/bg_F2979A.png') repeat;
        color: $white;

        a,
        a:visited {
            color: #ce6d6d;
            border-color: #eeaaaa;
        }

        a:hover,
        a:active {
            color: $white;
            border-color: #ce6d6d;
        }

        time { color: #eee; }
        header h1 { color: $white; }

        ul {
            border-color: #ce6d6d;
        }
    }
}

section.testimonials {
    background: $highlight url("/assets/img/style/sunrays.png") bottom center no-repeat;
    color: $white;

    header {
        padding: 0 1rem;

        h1 {
            color: $white;
            margin-bottom: 1rem;
            text-shadow: 0 2px 1px rgba(0,0,0,0.3);
            text-align: center;
        }
    }

    article {
        margin: 0 0 1.5rem 0;

        a {
            border-bottom: 2px solid rgba(255,255,255,0.4);
            color: $white;
        }
        a:hover {
            border-bottom: 2px solid rgba(255,255,255,1);
        }
    }
}


.tag_list,
.comments,
.ads {
    border-top: 5px solid #e1e1e1;
}

.comments {

    h2 {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
        padding: 0;

        ul {
            border-left: 2px solid #e1e1e1;
            margin-top: 1.25rem;

            li {
                margin-left: 1rem;
            }
        }
    }
    li {
        border-top: 3px solid #e1e1e1;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
        padding-top: 1.25rem;
    }

    h3 {
        font-size: 17px;
        font-size: 1.0625rem; /* 1.25rem; */
        line-height: 1.2;
        margin-bottom: 0.6rem;
        margin-top: 0;
        padding-top: 1.25rem;
    }

    small {
        color: $light-grey;
        font-weight: normal;
        padding-left: 1rem;
    }

    pre {
        background-color: rgba(0,0,0,0.3);
        font-size: 0.8rem;
    }
}

.tag_list {
    ul {
        @include vendor(column-gap, $base-spacing-unit);
        @include vendor(column-count, 2);

        font-size: 1rem;
        margin: 0 1.5rem;
        padding: 0;
        list-style-type: none;

        li {
            padding: 0.3rem 0;
        }
    }
}

.ads {
    display: none;
    text-align: center;

    a {
        background-color: #e1e1e1;
        border-bottom: 0;
        display: block;
        line-height: 0;
        margin: 0 auto;
        padding: 1rem;
        text-decoration: none;

        img{
            max-width: 100%;
        }
    }
    a:hover {
        background-color: #d3d3d3;
    }
}

footer.main {
    background-image: url('/assets/img/style/map.jpg');
    background-position: center center;
    background-repeat: no-repeat;

    .overlay {
        background: $dark-grey;
        background-color: rgba(0,0,0,0.8);

        color: $white;
        padding: 1rem;
    }

    header {
        h1, a {
            font-size: 1.8rem;
            margin-bottom: 0;
        }
        h1 {
            color: $white;
        }

        a {
            border-bottom: 2px solid rgba(0,0,0,0);
            color: $highlight;
            font-family: $title-font-family;
            font-weight: 400;
        }
        a:hover {
            border-bottom: 2px solid $highlight_rgba_over;
            color: $highlight;
        }
    }

    dl, dt, dd {
        margin: 0;
    }

    dl {
        margin: 2rem 0;

        a,
        a:visited,
        a:hover,
        a:active {
            color: $white;
        }

        a,
        a:visited, {
            text-decoration: none;
        }

        a:hover,
        a:active {
        }

        dd {
            display: inline-block;
            margin: 1rem 2rem 1rem 0;
        }

        dd a {
            @include spriteBg(0, -147px, 280px, 180px);
            border: none;
            display: inline-block;
            opacity: 0.5;
            padding-left: 30px;
            margin-right: 1rem;
        }
        dd a:hover { opacity: 1; }
        .twitter a { background-position: 0 -146px; height: 25px; }
        .linkedin a { background-position: -256px -146px; height: 25px; }
    }

    small{
        color: $light-grey;
        padding-top: 1rem;
    }
}

.errorPage {
    background: $highlight;
    color: $white;
    padding: 6rem 0;
    text-align: center;

    h1, h2, a {
        color: $white;
        text-align: center;
        text-shadow: 0 2px 1px rgba(0,0,0,0.3);
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }
    h2 {
        font-size: 2rem;
        margin-top: 0;
    }

    p {
        margin: 0 auto;
        text-shadow: 0 2px 1px rgba(0,0,0,0.3);
        width: 57%;
    }

    a {
        border-bottom: 2px solid rgba(255,255,255,0.4);
        color: $white;
    }
    a:hover {
        border-bottom: 2px solid rgba(255,255,255,1);
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 568px) and (max-width : 768px) {

    .tag_list ul {
        @include vendor(column-gap, $base-spacing-unit);
        @include vendor(column-count, 3);
        font-size: 1.2rem;
    }
}


@media only screen and (min-width : 480px) {

    section {
        article {
            iframe, img {
                max-width: 100%;
                width: auto;
            }
        }
    }
}


/* ANYTHING BEFORE SHOULD BE "MOBILE FIRST" */

/* Very small screens ----------- */
@media screen and (max-width: 15.000em) { /*240px*/
    body {
        font-size: 1rem;
    }

    header.main {

        nav {
            padding: 0.3rem;

            ul {
                float: none;
                font-size: 0.8rem;
                margin: 0 0.15rem;

                li {
                    display: block;
                    float: left;
                    padding-right: 0;
                    width: 50%;

                    a,
                    a:hover,
                    a:active,
                    a.selected,
                    a:visited {
                        border: none;
                        font-weight: 400;
                        line-height: 2.25rem;
                    }
                    &.home a {
                        background: none;
                    }
                }
            }
        }
    }

    section {
        article {

            header {

                h1 {
                    font-size: 1.5rem;
                }
            }

            p {
                font-size: 1rem;
            }
        }
    }

    footer.main {

        header {
            h1,
            a {
                font-size: 1.25rem;
            }
        }

        dl {
            margin: 1rem auto;

            dd {
                margin: 0.5rem 0;
            }
        }
    }
}
/* Smartphones (portrait) ----------- */
@media screen and (max-width: 20.000em) { /*320px*/
    /* All this should really be covered by the styles above! */

    header.main nav ul {

        li {
            padding: 0 0.5rem;

            a {
                font-size: 0.7rem;
            }
        }
    }
}
/* Smartphones (landscape) ----------- */
@media screen and (min-width: 20.000em) { /*320px*/
    a#scrollToTop {
        display: block;
    }

    header.main {
        nav ul {
            li {
                padding: 0 0.5rem;
            }

            li.home {

                a {
                    @include spriteBg(0, 8px, 407px, 262px);
                    text-indent: -999em;
                    width: 2rem;
                }
            }
        }

        p {
            font-size: 1.5rem;
        }
    }

    header.home {

        span.tagline {
            @include spriteBg(50%, -62px, 330px, 212px);
            margin-top: 4rem;
            margin-bottom: 2.5rem;
            font-size: 0.9rem;
            padding-top: 60px;
        }
    }

    footer.main {

        dl {
            margin: 1rem 2rem 1rem 0;

            dd {
                margin: 0 2rem 1rem 0;
            }

            dd a {
                @include spriteBg(0, -147px, 560px, 360px);
                display: block;
                padding-left: 57px;
                margin-right: 0;
                padding-top: 12px;
            }
            .twitter a { background-position: 0 -293px; height: 49px; }
            .linkedin a { background-position: -512px -293px; height: 49px; }
        }
    }
}

@media screen and (min-width: 25.000em) { /*400px*/
    .content{
        width: 90%;
    }

    .pagination {
        text-align: center;

        a.button {
            display: inline-block;
            max-width: 200px;
            width: 42%;

            &.next {
                float: none;
                margin-left: 0.5rem;
                width: 125px;
            }

            &.previous {
                float: none;
                margin-right: 0.5rem;
                width: 125px;
            }
        }
    }

    header.main {

        nav {
            padding: 0.5rem 0;

            ul {

                li {
                    padding: 0 1rem;
                }

                li.home {
                    padding: 0 0.75rem;

                    a {
                        @include spriteBg(-1px, -1px, 611px, 393px);
                        height: 3rem;
                        width: 3rem;
                    }
                }
            }
        }

        p {
            font-size: 1.8rem;
        }
    }

    header.home {

        span.tagline {
            @include spriteBg(50%, -76px, 401px, 258px);
            margin-top: 4rem;
            margin-bottom: 2.5rem;
            font-size: 1.2rem;
            padding-top: 70px;
        }
    }

    section {
        article {
            header {
                h1 {
                    padding: 0 0 0.5rem;
                }
            }
        }
    }

    section.work {
        article {
            ul {
                li {
                    display: inline-block;
                    padding: 0 2rem 0 2rem;
                }
            }
        }
    }

    footer dl {
        dd {
            a {
                display: inline-block;
                padding-top: 12px;
            }
        }
    }
}

@media screen and (max-width: 37.438em) { /*599px*/
}

@media screen and (min-width: 37.500em) { /*600px*/

    .content{
        width: 80%;
        max-width: 850px;
    }

    body {
        font-size: 112.5%;
        line-height: 1.6;
    }

    .pagination {

        a.button {
            display: block;
            background: $light-grey;
            border: none;
            color: $white;
            line-height: 1.5rem;
            max-width: none;
            padding: 0.5rem 1.2rem;
            position: fixed;
            top: 12em;

            @include transition(all, .2s, ease-in-out);

            &:hover {
                background-color: $highlight;
            }

            &.next {
                margin-right: -3.5em;
                padding: 0.5rem 1.2rem 0.5rem 0;
                right: 0;
                text-align: right;
                width: 5.75em;

                &:before{
                    content:"\00A0" "\f101";
                    float: left;
                    margin-left: 0.5rem;
                }

                &:after {
                    content:"";
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &.previous {
                margin-left: -5.5em;
                padding: 0.5rem 0 0.5rem 1.2rem;
                left: 0;
                text-align: left;
                width: 7.75em;

                &:after {
                    content:"\f100" "\00A0";
                    float: right;
                    margin-right: 0.5rem;
                }

                &:before{
                    content:"";
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &.next:hover {
                margin-right: 0;
            }

            &.previous:hover {
                margin-left: 0;
            }
        }
    }

    hr {
        @include spriteBg(50%, -84px);
        border: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    a#scrollToTop {
        @include spriteBg(-537px, 0px, 700px, 450px);
        height: 63px;
        width: 63px;
    }

    .attachement {
        a,
        img,
        iframe,
        span {
            border: 0.5rem solid #e1e1e1;
        }

        a img,
        span img,
        span span,
        a span {
            border: none;
        }

    }

    header.main {

        .content{
            width: 90%;
        }

        nav {
            padding: 1rem 0;

            ul {
                li.home {
                    a {
                        padding-left: 4rem;
                        text-indent: 0;
                        width: auto;
                    }
                }
            }

        }
        p {
            font-size: 2.2rem;
        }
    }

    header.home {

        span.tagline {
            @include spriteBg(50%, -115px, 619px, 398px);
            margin-top: 4rem;
            margin-bottom: 2.5rem;
            font-size: 1.8rem;
            padding-top: 100px;
        }
    }

    section {
        header h1 {
            text-align: left;
        }
        article {

            blockquote {
                margin: 0 3rem 1.5rem 3rem;
            }

            .gallery-item {
                margin-top: 1rem;
                margin-right: 2.5%;
                margin-left: 2.5%;
                width: 28%;

                img {}
                dd {}
            }

            .gallery-item:nth-child(2n) { /* no clear here */ }
            .gallery-item:nth-child(2n+1) { clear: none;}
            .gallery-item:nth-child(3n+1) { clear: left;}

            .attachement {
                a {
                    display: inline-block;
                    margin-right: auto;
                    margin-left: auto;
                }
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .iframe_wrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16/9 ratio */
                padding-top: 30px; /* IE6 workaround*/
                height: 0;
                margin: 0 auto;
                max-width: 80%;
                overflow: hidden;
            }
        }
    }

    .tag_list ul {
        @include vendor(column-gap, $base-spacing-unit);
        @include vendor(column-count, 3);

        font-size: 1.2rem;
    }

    footer.main {

        dl {

            dd a {
                @include spriteBg(-200px, 0px, 700px, 450px);
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 80px;
            }
            .twitter a { background-position: 0 -365px; height: 66px; }
            .linkedin a { background-position: -640px -365px; height: 66px; }
            .twitter a:hover { background-position: 10px -365px; }
            .linkedin a:hover { background-position: -630px -365px; }
        }
    }

    .ads {
        display: block;

        a {
            float: left;
            width: 50%;
        }
    }
}

@media screen and (min-height:43.750em) { /* min-height: 700px */

}

@media screen and (min-width : 43.750em) {/* min-width: 700px */
    .ads a {
        width: 25%;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    header.main {

        nav {
            .content{
                width: 85%;
            }
        }
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
}

@media screen and (min-width: 50.000em) { /* min-width: 800px */
    html {
        font-size: 1.15rem;
    }

    .pagination {

        a.button {
            max-width: auto;
            width: auto;

            &.next {
                margin-right: -3.75em;
                width: 6em;
            }

            &.previous {
                margin-left: -5.75em;
                width: 8em;
            }
        }
    }

    header.main {
        nav {
            ul {
                li.home {
                    a {
                        @include spriteBg(-1px, -1px, 700px, 450px);
                        text-indent: 0;
                        width: auto;
                    }
                }
            }
        }
    }

    header.home {
        span.tagline {
            @include spriteBg(50%, -130px, 700px, 450px);

            display: block;
            margin-bottom: 3rem;
            margin-top: 4.375rem;
            font-size: 1.8rem;
            padding-top: 115px;
        }
    }

    .tag_list ul {
        @include vendor(column-gap, $base-spacing-unit);
        @include vendor(column-count, 4);
    }

    .details {
        p {
            width: 70%;
        }
    }

    .comments {
        margin: 0 3rem;
    }
}

@media screen and (min-width: 64.375em){ /*1030px*/
}

/* Desktops and laptops ----------- */
@media screen and (min-width: 75.000em) and (min-height:31.250em) { /*1200px X 500px*/
}

/* Large screens ----------- */
@media screen and (min-width: 106.875em) and (min-height:50.000em)  { /*1710px X 800px*/
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-resolution: 144dpi) {

    hr {
        @include spriteBg2x(50%, -84px, 700px, 450px);
    }

    a#scrollToTop {
        @include spriteBg2x(-347px, 0px, 452px, 290px);
    }

    header.main {
        nav ul li.home a {
            @include spriteBg2x(0, 8px, 407px, 262px);
            width: 2.1rem;
        }
    }

    header.home {
        span.tagline {
            @include spriteBg2x(50%, -62px, 330px, 212px);
        }
    }

    footer.main {
        dl {
            dd a {
                @include spriteBg2x(0, -147px, 560px, 360px);
            }
            .twitter a { background-position: 0 -293px; }
            .linkedin a { background-position: -512px -293px; }
        }
    }

}

@media only screen and (min-width: 25.000em) and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-width: 25.000em) and (min-resolution: 144dpi) { /*320px*/

    header.main {

        nav ul li.home a {
            @include spriteBg2x(-1px, -1px, 611px, 393px);
            width: 3.1rem;
        }
    }
    header.home {
        span.tagline {
            @include spriteBg2x(50%, -76px, 401px, 258px);
        }
    }
}

@media only screen and (min-width: 37.500em) and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-width: 37.500em) and (min-resolution: 144dpi) { /*600px*/

    hr {
        @include spriteBg2x(50%, -167px, 1400px, 900px);
        height: 2rem;
    }

    a#scrollToTop {
        @include spriteBg2x(-537px, 0px, 700px, 450px);
    }

    header.main {
        nav ul li.home a {
            @include spriteBg2x(-1px, -1px, 619px, 398px);
            height: 3.1rem;
            width: auto;
        }
    }

    header.home {
        span.tagline {
            @include spriteBg2x(50%, -115px, 619px, 398px);
        }
    }

    footer.main {

        dl {

            dd a {
                @include spriteBg2x(-200px, 0px, 700px, 450px);
            }
            .twitter a { background-position: 0 -365px; height: 66px; }
            .linkedin a { background-position: -640px -365px; height: 66px; }
            .twitter a:hover { background-position: 10px -365px; }
            .linkedin a:hover { background-position: -630px -365px; }
        }
    }
}