---
layout: page
section: news
---
<!-- <ul class="posts">
{% for post in site.categories[page.category] %}
    <div>{{ post.date | date_to_html_string }}</div>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="categories">Filed under {{ post.categories | category_links }}</div>
{% endfor %}
</ul> -->

<section>
    <header>
        <h1 class="category">{{ page.title }}</h1>
    </header>

    {% for post in site.categories[page.category] %}
    <article>
        <header>
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            <h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>{% if post.draft %}<span class="draft">draft</span>{% endif %}</h1>
        </header>

        {% if post.content contains '<!--more-->' %}
            {{ post.content | markdownify | split: '<!--more-->' | first}}
            <a class="button more" href="{{ post.url }}" title="read more">read more</a>
        {% else %}
            {{ post.content | markdownify }}
        {% endif %}

    </article>
    {% endfor %}
</section>

<section class="tag_list">
    <header>
        <h1>Categories</h1>
    </header>

    <ul>
        {% categories <li><a href="[[link]]" title="[[name]]">[[name]]</a></li> %}
    </ul>
</section>

<!-- <section class="ads">
    <a href="http://www.awin1.com/cread.php?s=207271&amp;v=2698&amp;q=106887&amp;r=177361">
        <img src="http://www.awin1.com/cshow.php?s=207271&amp;v=2698&amp;q=106887&amp;r=177361">
    </a>
</section> -->
