---
layout: base
section: news
---

<div class="content">

    <section>
        <article>
            <header>
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
                <h1>{{ page.title }}{% if page.draft %}<span class="draft">draft</span>{% endif %}</h1>
            </header>

            {{ content }}
        </article>
    </section>

    <div class="pagination">
    {% if page.previous.url %}<a class="button previous" href="{{page.previous.url}}" title="{{page.previous.title}}">previous </a>{% endif %}

    {% if page.next.url %}<a class="button next" href="{{page.next.url}}" title="{{page.next.title}}"> next</a>{% endif %}
    </div>

    {% if page.draft %}
    {% elsif page.comments.size %}
    <section class="comments">
        <h2>comments</h2>
        {% include _comments.html comments=page.comments %}
    </section>
    {% endif %}
        <p class="notice"><small>Comments are disabled temporarily until I find a suitable system, but you can still <a href="mailto:hello@ekynoxe.com?subject={{ page.title }}">send a comment by email</a> and I'll add it to this post. Thanks!</small></p>

    <section class="ads">
    {% comment %}<!--START MERCHANT:merchant name Wiggle Online Cycle Shop from affiliatewindow.com.-->{% endcomment %}
    <a href="http://www.awin1.com/cread.php?s=344360&v=1857&q=162440&r=132674"><img src="http://www.awin1.com/cshow.php?s=344360&v=1857&q=162440&r=132674" border="0"></a>
    {% comment %}<!--START MERCHANT:merchant name Evans Cycles from affiliatewindow.com.-->{% endcomment %}
    <a href="http://www.awin1.com/cread.php?s=420977&v=1302&q=201203&r=132674"><img src="http://www.awin1.com/cshow.php?s=420977&v=1302&q=201203&r=132674" border="0"></a>
    {% comment %}<!--START MERCHANT:merchant name Chain Reaction Cycles from affiliatewindow.com.-->{% endcomment %}
    <a href="http://www.awin1.com/cread.php?s=364462&v=2698&q=172298&r=132674"><img src="http://www.awin1.com/cshow.php?s=364462&v=2698&q=172298&r=132674" border="0"></a>
    {% comment %}<!--START MERCHANT:merchant name ProBikeKit from affiliatewindow.com.-->{% endcomment %}
    <a href="http://www.awin1.com/cread.php?s=367224&v=3977&q=173544&r=132674"><img src="http://www.awin1.com/cshow.php?s=367224&v=3977&q=173544&r=132674" border="0"></a>
    </section>
</div>
