---
layout: base
section: news
---

<div class="content">

    <section>
        <article>
            <header>
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
                <h1>{{ page.title }}{% if page.draft %}<span class="draft">draft</span>{% endif %}</h1>
            </header>

            {{ content }}
        </article>
    </section>

    <div class="pagination">
    {% if page.previous.url %}<a class="button previous" href="{{page.previous.url}}" title="{{page.previous.title}}">previous </a>{% endif %}

    {% if page.next.url %}<a class="button next" href="{{page.next.url}}" title="{{page.next.title}}"> next</a>{% endif %}
    </div>

    {% if page.draft %}
    {% elsif page.comments.size %}
    <section class="comments">
        <h2>comments</h2>
        <ul>
        {% assign sorted_comments = page.comments|sort:'comment_date' %}
        {% for comment in sorted_comments %}
            <li>
                <h3>
            {% if comment.comment_author_url == "" %}
                {{ comment.comment_author }}
            {% else %}
                <a href="{{ comment.comment_author_url }}" title="{{ comment.comment_author }}">{{ comment.comment_author }}</a>
            {% endif %}
                <small>{{ comment.comment_date }}</small></h3>
                <p>{{ comment.comment_content | replace: "<code>", "<pre><code>" | replace: "</code>", "</code></pre>" }}</p>

                {% if comment.replies.size == 0 %}
                {% else %}
                <ul>
                    {% assign sorted_replies = comment.replies|sort:'comment_date' %}
                    {% for reply in sorted_replies %}
                    <li>
                        <h3>
                    {% if reply.comment_author_url == "" %}
                        {{ reply.comment_author }}
                    {% else %}
                        <a href="{{ reply.comment_author_url }}" title="{{ reply.comment_author }}">{{ reply.comment_author }}</a>
                    {% endif %}
                        <small>{{ reply.comment_date }}</small></h3>
                        <p>{{ reply.comment_content | replace: "<code>", "<pre><code>" | replace: "</code>", "</code></pre>" }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
        <p class="notice"><small>Comments are disabled temporarily until I find a suitable system, but you can still <a href="mailto:hello@ekynoxe.com?subject={{ page.title }}">send a comment by email</a> and I'll add it to this post. Thanks!</small></p>
</div>