---
layout: base
section: news
---

<div class="content">

    <section>
        <article>
            <header>
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
                <h1>{{ page.title }}{% if page.draft %}<span class="draft">draft</span>{% endif %}</h1>
            </header>

            {{ content }}
        </article>
    </section>

    <div class="pagination">
    {% if page.previous.url %}<a class="button previous" href="{{page.previous.url}}" title="{{page.previous.title}}">previous </a>{% endif %}

    {% if page.next.url %}<a class="button next" href="{{page.next.url}}" title="{{page.next.title}}"> next</a>{% endif %}
    </div>

    {% if page.draft %}
    {% elsif page.comments.size %}
    <section class="comments">
        <h2>comments</h2>
        {% include _comments.html comments=page.comments %}
    </section>
    {% endif %}
        <p class="notice"><small>Comments are disabled temporarily until I find a suitable system, but you can still <a href="mailto:hello@ekynoxe.com?subject={{ page.title }}">send a comment by email</a> and I'll add it to this post. Thanks!</small></p>

    {% include _partners.html %}
    {% include _ads.html %}
</div>
