<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="no-js{% if page.class %} {{ page.class }}{% endif %}">
{% include page-head.html %}
    <!--[if lt IE 7 ]>
    <body class="ie ie6">
    <![endif]-->
    <!--[if IE 7 ]>
    <body class="ie ie7">
    <![endif]-->
    <!--[if IE 8 ]>
    <body class="ie ie8">
    <![endif]-->
    <!--[if IE 9 ]>
    <body class="ie ie9">
    <![endif]-->
    <!--[if gt IE 9]>
    <body class="ie">
    <![endif]-->
    <!--[if !IE]><!-->
    <body>
    <!--<![endif]-->
        {{ content }}
        <script>

        if (document.documentElement.clientWidth >= 768) {
            var jQueryJs = document.createElement("script"),
                mainJs = document.createElement("script"),
                lightboxJs = document.createElement("script");

            jQueryJs.type = "text/javascript";
            jQueryJs.src = "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js";

            mainJs.type = "text/javascript";
            mainJs.src = "{{ "assets/js/main.min.js" | cdn }}";

            lightboxJs.type = "text/javascript";
            lightboxJs.src = "{{ "assets/js/lightbox-2.6.min.js" | cdn }}";

            jQueryJs.onload = function () {
                document.body.appendChild(mainJs);
                $('head').append('<link rel="stylesheet" href="{{ "assets/css/lightbox/lightbox.min.css" | cdn }}" type="text/css" />');
                document.body.appendChild(lightboxJs);
            }

            document.body.appendChild(jQueryJs);
        }
        </script>
    </body>
</html>
