<section class="ads">
    <header>
        <h3>Help me fund my passion, buy something from these sites!</h3>
    </header>
{% comment %}<!--START MERCHANT:merchant name Wiggle Online Cycle Shop from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=344360&v=1857&q=162440&r=132674"><img src="http://www.awin1.com/cshow.php?s=344360&v=1857&q=162440&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name Evans Cycles from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=420977&v=1302&q=201203&r=132674"><img src="http://www.awin1.com/cshow.php?s=420977&v=1302&q=201203&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name Chain Reaction Cycles from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=364462&v=2698&q=172298&r=132674"><img src="http://www.awin1.com/cshow.php?s=364462&v=2698&q=172298&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name ProBikeKit from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=367224&v=3977&q=173544&r=132674"><img src="http://www.awin1.com/cshow.php?s=367224&v=3977&q=173544&r=132674" border="0"></a>
</section>