<section class="ads">
    <header>
        <h3>Help me fund my passion, buy something from these sites!</h3>
    </header>
{% comment %}<!--START MERCHANT:merchant name Wiggle Online Cycle Shop from affiliatewindow.com.-->{% endcomment %}
<a href="https://www.awin1.com/cread.php?s=240147&v=1857&q=99247&r=132674"><img src="https://www.awin1.com/cshow.php?s=240147&v=1857&q=99247&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name Evans Cycles from affiliatewindow.com.-->{% endcomment %}
<a href="https://www.awin1.com/cread.php?s=526991&v=1302&q=256241&r=132674"><img src="https://www.awin1.com/cshow.php?s=526991&v=1302&q=256241&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name Chain Reaction Cycles from affiliatewindow.com.-->{% endcomment %}
<a href="https://www.awin1.com/cread.php?s=207271&v=2698&q=106887&r=132674"><img src="https://www.awin1.com/cshow.php?s=207271&v=2698&q=106887&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name ProBikeKit from affiliatewindow.com.-->{% endcomment %}
<a href="https://www.awin1.com/cread.php?s=377747&v=3977&q=178227&r=132674"><img src="https://www.awin1.com/cshow.php?s=377747&v=3977&q=178227&r=132674" border="0"></a>
</section>
