<ul>
{% assign sorted_comments = include.comments|sort:'comment_date' %}
{% for comment in sorted_comments %}
    <li>
        <h3>
    {% if comment.comment_author_url == "" %}
        {{ comment.comment_author }}
    {% else %}
        <a href="{{ comment.comment_author_url }}" title="{{ comment.comment_author }}">{{ comment.comment_author }}</a>
    {% endif %}
        <small>{{ comment.comment_date }}</small></h3>
        <p>{{ comment.comment_content | replace: "<code>", "</p><pre><code>" | replace: "</code>", "</code></pre><p>" | urlize }}</p>

        {% if comment.replies.size == 0 %}
        {% else %}
            {% include _comments.html comments=comment.replies %}
        {% endif %}

    </li>
{% endfor %}
</ul>