<footer class="main">
    <div class="overlay">
        <div class="content">
            <header>
                <a id="contact"></a>
                <h1>let's talk!</h1>
                <a title="Compose an email to hello@ekynoxe.com"href="mailto:hello@ekynoxe.com">hello@ekynoxe.com</a></h1>
            </header>
            <dl>
                <dd class="twitter"><a title="Mathieu Davy on Twitter" href="http://twitter.com/ekynoxe">twitter</a></dd>
                <dd class="linkedin"><a title="Mathieu Davy on Linked In" href="http://linkedin.com/in/mathieudavy">linkedin</a></dd>
            </dl>
            <small>ekynoxe - Mathieu Davy {{ site.time | date: "%Y" }}</small>
        </div>
    </div>
    <a id="scrollToTop" href="#top">top</a>
</footer>