    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="Mathieu Davy's one man web studio">
        <meta name="author" content="Mathieu Davy">

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <link href="/assets/css/global.css" rel="stylesheet" type="text/css">
        {% if page.styles %}
        <link href="/assets/css/{{ page.styles }}.css" rel="stylesheet" type="text/css">
        {% endif %}

        <link rel="shortcut icon" href="/assets/img/style/favicon.ico">

        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/style/apple-touch-icon-152x152-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/style/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/style/apple-touch-icon-120x120-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/style/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/style/apple-touch-icon-76x76-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/style/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/img/style/apple-touch-icon-precomposed.png">

        <!--[if IE 8 ]>
            <link href="/assets/css/ie8.css" rel="stylesheet" type="text/css">
        <![endif]-->

        <!--[if lt IE 9]>
            <script>
                document.createElement('header');
                document.createElement('nav');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('footer');
                document.createElement('time');
            </script>
        <![endif]-->

        {% comment %}
        Original source for the retina touch icons above is from http://mathiasbynens.be/notes/touch-icons
        specially the last snippet from the "sizes" section at http://mathiasbynens.be/notes/touch-icons#sizes
        reading:

        <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
        <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
        <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">
        <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
        <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">
        <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
        {% endcomment %}

    </head>