---
layout: index
---
<section>
    {% for post in paginator.posts %}
        {% include short-post.html %}
    {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.next_page %}
    <a class="button previous" href="{{ paginator.next_page_path }}" title="Previous posts"> previous</a>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        {% assign prev_path="/news" %}
    {% else %}
        {% assign prev_path=paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' %}
    {% endif %}
    <a class="button next" href="{{ prev_path }}" title="Next posts">next </a>
  {% endif %}
</nav>
{% endif %}

<section class="tag_list">
    <header>
        <h1>Categories</h1>
    </header>

    <ul>
        {% categories <li><a href="[[link]]" title="[[name]]">[[name]]</a></li> %}
    </ul>
</section>

{% include _partners.html %}
{% include _ads.html %}
