---
layout: index
---

<section class="work">
    <header>
        <div class="content">
            <h1>recent work</h1>
        </div>
    </header>

{% for post in site.categories.projects %}
{% if post.project.featured %}
{% assign asset = "content/" | append: post.name | append: "/" | append: post.project.hero %}
    <article class="{{post.project.classname}}">
        <div class="content">
            <header>
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                <h1>{{ post.project.title }}</h1>
                <a title="Link to {{ post.project.title }}" href="http://{{ post.project.url }}">{{ post.project.url }}</a>
            </header>
            <img src="{{ asset | cdn }}" alt="{{post.project.url}}" />
            <ul>
            {% for item in post.project.work %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        </div>
    </article>
{% endif %}
{% endfor %}

    {% comment %}
    <!-- <a class="button" href="/work" title="see more work">see more work</a> -->
    {% endcomment %}
</section>
{% comment %}
<!-- <section class="testimonials">
    <div class="content">
        <header>
            <h1>what my clients say</h1>
        </header>
        <article>
            <p>"I needed someone capable of understanding me and the special needs I had for my business. Coming from a graphic print background, I had the skills to create the basic look of the website, but didn’t know how to translate it into a good online experience. Matt did great in guiding me and coping with the many little changes I requested. I’m very happy with the result!"</p>
            <header>Anne Br&eacute;mont - <a title="Link to Instants tisses website" href="http://www.instantstisses.com">www.instantstisses.com</a></header>
        </article>
    </div>
</section> -->

<!-- <section class="ads">
    <a href="http://www.awin1.com/cread.php?s=207271&amp;v=2698&amp;q=106887&amp;r=177361">
        <img src="http://www.awin1.com/cshow.php?s=207271&amp;v=2698&amp;q=106887&amp;r=177361">
    </a>
</section> -->
{% endcomment %}