---
layout: page
---

<section>
    {% for post in paginator.posts %}
        {% include short-post.html %}
    {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.next_page %}
    <a class="button previous" href="{{ paginator.next_page_path }}" title="Previous posts"> previous</a>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        {% assign prev_path="/news" %}
    {% else %}
        {% assign prev_path=paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' %}
    {% endif %}
    <a class="button next" href="{{ prev_path }}" title="Next posts">next </a>
  {% endif %}
</nav>
{% endif %}

<section class="tag_list">
    <header>
        <h1>Categories</h1>
    </header>

    <ul>
        {% categories <li><a href="[[link]]" title="[[name]]">[[name]]</a></li> %}
    </ul>
</section>

<section class="ads">
{% comment %}<!--START MERCHANT:merchant name Wiggle Online Cycle Shop from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=344360&v=1857&q=162440&r=132674"><img src="http://www.awin1.com/cshow.php?s=344360&v=1857&q=162440&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name Evans Cycles from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=420977&v=1302&q=201203&r=132674"><img src="http://www.awin1.com/cshow.php?s=420977&v=1302&q=201203&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name Chain Reaction Cycles from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=364462&v=2698&q=172298&r=132674"><img src="http://www.awin1.com/cshow.php?s=364462&v=2698&q=172298&r=132674" border="0"></a>
{% comment %}<!--START MERCHANT:merchant name ProBikeKit from affiliatewindow.com.-->{% endcomment %}
<a href="http://www.awin1.com/cread.php?s=367224&v=3977&q=173544&r=132674"><img src="http://www.awin1.com/cshow.php?s=367224&v=3977&q=173544&r=132674" border="0"></a>
</section>
